#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #007bff; /* Color del indicador de progreso */
    z-index: 9999;
    transition: width 0.3s ease;
}