
.contacto-titulo span {
    color: rgba(0,178,255,1);
}
.contacto{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.253) 10%, rgba(0, 0, 0, 0.863) 72%),
    url(/img/contacto.jpg);
    min-height:100vh;

    color: #ffffff;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 2rem;
    background-size: cover
    
    
    
}
.pag-contacto{
    display: grid;
    gap: 2rem;
    backdrop-filter: blur(5px);;
    

}
.contacto-info, .contacto-formulario{
    width: 100%;
    max-width: 350px;
    display:grid;
    gap: 3rem;
    align-content: baseline;
    text-align:left;
}

h2.wsp, h2.correo{
    text-align: justify;
    margin-top: 12px;
    margin-bottom: 4px;
}

p.datos{
    font-size: small;
}

#icono-contacto{
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display:inline-flex;
    background-color: rgba(0,178,255,1);
    border: none;
    
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
    
    
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    font-family: 'Bruno Ace SC', sans-serif;
    
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid rgba(0,178,255,1);
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    max-width: 550px;
    max-height: 250px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
    font-family: 'Bruno Ace SC', sans-serif;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
    
}

.input-box > input:focus ~ i {
    color:rgba(0,178,255,1);
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: rgba(0,178,255,1);
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Bruno Ace SC', sans-serif;
    
}

form > button:hover,
.links > a:hover {
    background: rgb(255, 255, 255);
    color: black;
}



@media (min-width: 800px) {
    .pag-contacto { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 500px) {
    
    .contacto-formulario {    
    justify-content: center;
   
    }
    .contacto-info {    
        justify-content: center;
    }

}   
